// ==================================================
// head common
// ==================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-weight: normal;
  font-family: $v-font;
  color: $v-color-font;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizeLegibility;
  background: $v-color-bg no-repeat;
  word-wrap: break-word;
  font-size: $v-font-size-default;
}

// a {
//   transition: all 0.3s ease;
//   &:hover {
//     color: $v-color-link;
//   }
// }

p {
  padding-bottom: 1rem;
}
// -- check mode--------------------
.cm {
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    rgba(245, 245, 245, 0.1),
    rgba(245, 245, 245, 0.1) 10px,
    rgba(136, 136, 136, 0.2) 0,
    rgba(136, 136, 136, 0.2) 20px
  );
  border: solid 1px rgba(68, 68, 68, 0.2);
}

// -- ie --------------------
// @media all and (-ms-high-contrast: none) {
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10 以降にのみ適用される */
  .ie-block {
    display: block;
  }
  .ie-hidden {
    display: none;
  }
}

// -- debug color --------------------
.check-mode {
  * [class^="ly_"] {
    outline: #dc143c 2px solid;
  }
  * [class^="bl_"] {
    border: #00f 2px solid;
  }
  * [class^="el_"] {
    border: #ffd700 2px solid;
  }
}
.check-mode-outer {
  * [class^="ly_"] {
    outline: #dc143c 2px solid;
  }
}
.check-mode-bl {
  * [class^="bl_"] {
    border: #00f 2px solid;
  }
}
.check-mode-el {
  * [class^="el_"] {
    border: #ffd700 2px solid;
  }
}

// -- responsive --------------------

.is-min-tb {
  display: none;
  @include bp(tb) {
    display: block;
  }
}
.is-max-tb {
  display: none;
  @include bp(maxtb) {
    display: block;
  }
}
.is-tb {
  display: none;
  @include bp(onlytb) {
    display: block;
  }
}
.is-min-pc {
  display: none;
  @include bp(pc) {
    display: block;
  }
}
.is-maxpc {
  display: none;
  @include bp(maxpc) {
    display: block;
  }
}
.is-min-sm {
  display: none;
  @include bp(sm) {
    display: block;
  }
}
.is-max-sm {
  display: none;
  @include bp(maxsm) {
    display: block;
  }
}
.is-sm {
  display: none;
  @include bp(onlysm) {
    display: block;
  }
}
.is-min-md {
  display: none;
  @include bp(md) {
    display: block;
  }
}
.is-md {
  display: none;
  @include bp(onlymd) {
    display: block;
  }
}
.is-min-lg {
  display: none;
  @include bp(lg) {
    display: block;
  }
}
.is-max-lg {
  display: none;
  @include bp(maxlg) {
    display: block;
  }
}
.is-lg {
  display: none;
  @include bp(onlylg) {
    display: block;
  }
}
.is-min-xl {
  display: none;
  @include bp(xl) {
    display: block;
  }
}
.is-max-xl {
  display: none;
  @include bp(maxxl) {
    display: block;
  }
}
.is-xl {
  display: none;
  @include bp(onlyxl) {
    display: block;
  }
}
.is-max-wide {
  display: none;
  @include bp(maxwide) {
    display: block;
  }
}
.is-min-wide {
  display: none;
  @include bp(wide) {
    display: block;
  }
}
.is-print {
  display: none;
  @include bp(print) {
    display: block;
  }
}

// -- objectfit --------------------
.c-object-coverIE {
  font-family: "object-fit: cover;"; /* IE対策 */
}
